# Spring properties
# Available profiles: jsp, twig (mutually exclusive)
spring.profiles.active=jsp
# To-do: Do we need this with current configurations?
spring.main.allow-bean-definition-overriding=true
# Additional debug information. Requests/responses.
logging.level.web=DEBUG

spring.mvc.view.prefix = /WEB-INF/jsp/
spring.mvc.view.suffix = .jsp

# DB Properties
db.driver=org.postgresql.Driver
db.url=jdbc:postgresql://localhost:5432/programming_db
db.username=
db.password=
db.max-pool-size=30

# Hibernate Configuration:
hibernate.dialect=org.hibernate.dialect.PostgreSQL10Dialect
hibernate.show_sql=true
entitymanager.packages.to.scan=package.models
hibernate.hbm2ddl.auto=update
hibernate.enable_lazy_load_no_trans=true
hibernate.id.new_generator_mappings=true
