spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=
spring.datasource.password=
spring.datasource.url=
spring.datasource.hikari.maximum-pool-size=30
spring.datasource.initialization-mode=always

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=false

spring.freemarker.enabled=true
spring.freemarker.charset=UTF-8

server.port=8088
spring.web.resources.static-locations=classpath:/resources/,classpath:/static/,file:/home/renett/Repositories/java/semester-work-java4/src/main/resources/static/
server.servlet.context-path=/pima
spring.servlet.multipart.max-file-size=20MB
spring.servlet.multipart.max-request-size=30MB

defaults.storage-path=thumbnails
jwt.secret-key=secret_qwerty007
jwt.expires-in=3600

oauth2.vk.version=5.130
oauth2.vk.client_id=
oauth2.vk.client_secret=
oauth2.vk.redirect-url=http://localhost:8088/pima/oauth/vk
oauth2.vk.api.start_auth=https://oauth.vk.com/authorize
oauth2.vk.api.get_user=https://api.vk.com/method/users.get
oauth2.vk.api.get_token=https://oauth.vk.com/access_token